@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 3px;
  background: #acacac;
}
::-webkit-scrollbar-thumb {
  background: #312e81;
}

.projects-scrollbar::-webkit-scrollbar {
  box-sizing: border-box;
  height: 10px !important;
  background:#1f2937;
}

.projects-scrollbar::-webkit-scrollbar-thumb {
  background: #4b47c8;
}

.line-animation {
  width: 100%;
  height: 100%;
  animation: line-animation 2500ms ease infinite;
}

.line-animation-reverse {
  animation-name: line-animation-reverse;
}

@keyframes line-animation {
  0% {
    transform: translateX(-90%);
  }
  50% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-90%);
  }
}

@keyframes line-animation-reverse {
  0% {
    transform: translateX(90%);
  }
  50% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(90%);
  }
}
